.background{
    min-height: 1000px;
}

#about { 
    background-color: blue;
    margin: auto 0;
    color: white;
    text-align: center;
 }

.about-card{
    max-width: 50%;
    align-content: center;
    align-self: auto;
    margin: 0 auto;
}