body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container{
  display: flex;

}

.card-container {
  display: flex;
  background-color: cadetblue;
  justify-content: space-around;
  
  align-items: center;
  flex-direction: row;
}

.card{
  display: flex;
  flex-direction: row;
}

.project-type{
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
}

.contact-form{
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.card .contact-form {
  margin-top: 10px;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.trying {
  display: flex;
  justify-items: center;
}

.social-links{
  display: flex;
  margin: 0 auto;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-between;
  list-style-type: none;
}

.footer h4{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  color: white;
}

.footer-link{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.btn-footer{
  margin-top: 1em;
  background-color: lightgreen;
}

.social-list-link {
  color: black;
}